@import 'reset.css';
@import 'variable.css';
@import 'nav.css';

body {
  background-color: rgba(204,204,204,0.3);

}

main {
  height: 200vh;
}

.main {

}

.main__container {
  margin: 0 auto;
  height: 100%;
  background-color: #fff;
  box-sizing: border-box;
}