:root {
  /* Nav value */
  --full-width: 1240px;
  --medium-width: 1080px;
  --small-width: 960px;
  --nav-height: 46px;
  --nav-menu-padding: 12px 0px;
  --nav-menu-width: 105px;
  --nav-button-color: rgb(204,204,204);
  --nav-font-size: 14px;
  --button-text-color: #fff;
  --main-padding: 30px 20px;
  --home-fixed-container: 40%;
}