<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://kit.fontawesome.com/9323719bfa.js" crossorigin="anonymous"></script>
  <link 
    rel="stylesheet" 
    href="{% static 'CSS/base.css' %}" 
    type="text/css"
  />
  {% block css %}

  {% endblock %}
  <title>Sound Cloud</title>
</head>
<body>
  <header class="header fixed">
    <div class="header__container">
      <div class="header__left">
        <div class="header__logo selected">
          <a class="header__logoImage" href="{% url 'home' %}"></a>
          <a class="header__logoText" href="{% url 'home' %}">SOUNDCLOUD</a>
          <!-- Logo --></div>
        <ul class="header__navWrap">
          <li><a class="header__navMenuItem selected" href="{% url 'home' %}">Home</a></li>
          <li><a class="header__navMenuItem right__border" href="#">Stream</a></li>
          <li><a class="header__navMenuItem right__border" href="#">Library</a></li>
        </ul>  
      </div>
      <div class="header__middle">
        <div class="header__search">
          <input type="text" name="search" placeholder="Search">
        </div>
        <!-- Search icon -->
      </div>
      <div class="header__right">
        <!-- None Login -->
        <div class="header__loginMenu">
          <button class="button__signin">Sign in</button>
          <button class="button__account">Create accout</button>
        </div>
        <div class="header__navMenuItem header__upload">
          <a href="#">Upload</a>
        </div>
        <ul class="header__more"><i class="fa-solid fa-ellipsis"></i></ul>
      </div>
    </div>
  </header>
  {% block content %}

  {% endblock %}
</body>
</html>