<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'CSS/base.css' %}" type="text/css">
  <title>Sound Cloud</title>
</head>
<body>
  <nav>
    <div class="nav-container">
      <ul class="nav-left-container">
        <li class="nav-logo"><!-- Logo --></li>
        <li class="nav-left-menu"><a href="#">Home</a></li>
        <li class="nav-left-menu"><a href="#">Stream</a></li>
        <li class="nav-left-menu"><a href="#">Library</a></li>
      </ul>
      <ul class="nav-center-container">
        <input type="text" name="search" placeholder="Search">
        <!-- Search icon -->
      </ul>
      <ul class="nav-right-container">
        <!-- None Login -->
        <li class="nav-right-menu"><a href="#">sing in</a></li>
        <li class="nav-right-menu"><a href="#">Create account</a></li>
        <li class="nav-right-menu"><a href="#">Upload</a></li>
        <li class="nav-right-menu"><a href="#"><!-- more icon --></a></li>
      </ul>
    </div>
  </nav>
  {% block content %}

  {% endblock %}
</body>
</html>